$standWidth: calc(100vw / 6.55)

.row_poster
    min-width: $standWidth
    height: calc(#{$standWidth} / 1.8)
    margin-right: 5px
    background-size: cover
    border-radius: 3px
    position: relative
    cursor: pointer
    &:hover
        .row_poster__inner
            height: 400px
            width: 400px
            transition-delay: .5s
            visibility: visible
            opacity: 1
            top: -120px
            left: calc((200px - #{$standWidth / 2}) * -1)

.row_poster__inner
    z-index: 7
    width: calc(#{$standWidth} )
    height: calc(#{$standWidth} / 1.8)
    border-radius: 8px
    overflow: hidden
    -webkit-box-shadow: 0px 5px 7px 3px rgba(0,0,0,0.7)
    background: #141414
    background-size: contain
    background-repeat: no-repeat
    position: absolute
    top: 0
    left: 0
    transition: .15s ease-out
    cursor: pointer
    visibility: hidden
    
.btn_container
    display: flex
    justify-content: space-between
    padding: 20px 15px

.btn_container__inner
    display: flex
    div
        margin-right: 10px

.poster_inner__unmute
    position: absolute
    right: 15px
    top: 155px

.description_container
    display: flex
    margin-left: 10px
    margin-bottom: 20px
    font-size: 15px
    font-weight: 550
    span, div
        margin-left: 7px

.description_match
    color: lightgreen

.description_age
    border: 1px solid lightgrey
    padding: 0 7px

.description_dot
    width: 4px
    height: 4px
    display: inline-block
    background: lightgrey
    border-radius: 50%
    align-self: center
