.row
    position: relative

.row__title
    z-index: 4
    position: relative
    margin-top: 50px
    margin-bottom: 0
    padding-left: 60px

.row__posters
    z-index: 4
    display: flex
    overflow-y: visible
    padding: 15px
    padding-left: 60px
    position: relative

.offsetswitch_container
    position: absolute
    bottom: 15px
    width: 2.9vw
    z-index: 5
    height: calc(100vw / 11.79)
    &:hover
        .row__offsetswitch
            visibility: visible
 
.container_before
    left: 0
    border-radius: 0 3px 3px 0

.container_next
    right: 0
    border-radius: 3px 0 0 3px 

.row__offsetswitch
    display: flex
    align-items: center
    justify-content: center
    background: rgba(20,20,20,.7)
    width: 2.9vw
    height: calc(100vw / 11.79)
    visibility: hidden
