.row__title
    z-index: 4
    position: relative
    margin-top: 50px
    margin-bottom: 0
    padding-left: 60px

.row__posters
    z-index: 4
    display: flex
    overflow-y: visible
    padding: 15px
    padding-left: 60px
    position: relative

.row__posters::-webkit-scrollbar
    display: none

// .row__poster
//     width: 175px
//     object-fit: contain
//     padding-right: 15px
//     transition: transform 0.5s ease

// .row__poster:hover
//     transform: scale(1.1)
