.row
    position: relative
    
.row__title
    margin-top: 50px
    margin-bottom: 0
    padding-left: 60px

.row__posters
    position: relative
    z-index: 0
    display: flex
    padding: 15px
    padding-left: 60px
    transition: .5s ease-out
    &:hover
        z-index: 7

.offsetswitch_container
    position: absolute
    bottom: 15px
    width: 2.9vw
    z-index: 3
    height: calc(100vw / 11.79)
    &:hover
        .row__offsetswitch
            visibility: visible
 
.container_before
    left: 0
    border-radius: 0 3px 3px 0

.container_next
    right: 0
    border-radius: 3px 0 0 3px 

.row__offsetswitch
    display: flex
    align-items: center
    justify-content: center
    background: rgba(20,20,20,.7)
    width: 2.9vw
    height: calc(100vw / 11.79)
    visibility: hidden
