$mainRed: #e50914;
$secondaryRed: #b81d24;
$mainDark: #111;
$mainLight: #f5f5f1;

.header__container
    padding-top: 140px
    margin-left: 75px
    height: 190px
    h1
        font-size: 3rem
        font-weight: 800
        padding-bottom: 0.5rem
    button
        cursor: pointer
        background: rgba(17, 17, 17, .7);
        color: $mainLight
        outline: none
        border: none
        font-weight: 700
        border-radius: 0.2vw
        padding: .5rem 2rem
        margin-right: 1rem
        

.header__container_description
    width: 30vw
    font-size: 0.8rem
    text-align: justify
    overflow: hidden
    text-overflow: clip
    height: 8.5rem
    
.header__fade
    position: absolute
    bottom: 0
    width: 100%
    height: 100px
    background: linear-gradient(180deg, transparent, $mainDark 90%, $mainDark)
