$mainRed: #e50914;
$secondaryRed: #b81d24;
$mainDark: #111;
$mainLight: #f5f5f1;
    
body 
    font-family: Geneva, Arial, sans-serif
    font-size: 14px
    background: $mainDark
    color: $mainLight
    margin: 0
    overflow-x: hidden
