$mainRed: #e50914;
$secondaryRed: #b81d24;
$mainDark: #111;
$mainLight: #f5f5f1;

.banner 
    object-fit: contain
    height: 79.5vh
    position: relative
    background-size: cover
    z-index: 0

.banner__container
    position: absolute
    z-index: 5
    left: 60px
    bottom: 9vh
    display: flex
    flex-direction: column
    width: 610px
    img
        width: 375px
        object-fit: contain
        margin-bottom: 40px
        transition: .7s ease-out
    p
        font-size: 26px
        font-weight: 500
        margin-top: 0
        height: 93px
        margin-bottom: 30px
        transition: .7s ease-out
    .img
        width: 609px

.banner__mute
    position: absolute
    z-index: 5
    right: 0
    bottom: 7vh
    display: flex
    flex-direction: row
    div
        margin-left: 20px

.banner__mute_advisory
    height: 46px
    width: 121px
    font-size: 21px
    padding: 11px 15px
    box-sizing: border-box
    background: rgba(51, 51, 51, .4)
    border-left: 3px solid #dcdcdc

.banner__player
    top: 0
    z-index: 2
    width: 100vw
    height: 56.25vw
    overflow: hidden
    position: relative

.banner__fade
    position: absolute
    bottom: 0
    width: 100%
    height: 300px
    background: linear-gradient(180deg, transparent,  $mainDark, $mainDark)

.banner__player_cover
    bottom: 300px
    z-index: 3
    width: 1920px
    height: 780px
    overflow: hidden
    position: absolute
